[user]
	name = Robert Grant
	email = robert.grant@equifax.com
[color]
	ui = auto
	status = always
[alias]
	hist = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --graph --date=short
[push]
	default = current
[credential]
	helper = osxkeychain
[tag]
	sort = version:refname
