[user]
    name = Robert Grant
    email = rhgrant10@gmail.com
[color]
    ui = auto
    status = always
[alias]
    hist = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%ae>%Creset' --graph --date=short
    update = "!f() { b=$(git branch | grep \"*\" | awk '{ print $2 }'); git checkout \"$1\" && git pull && git checkout \"$b\"; }; f"
[push]
    default = current
[credential]
    helper = osxkeychain
[tag]
    sort = version:refname
